<style>
    div.res {
       position:relative;
       left:-8%;
    }
</style>
<div class="res">
    <ul class="icons">
    <li><a href="{{ url_for('static', filename='files/JacobCResume.pdf') }}" target="_blank" class="fa-file-text">Resume</a></li>
</div>
<div class="container-fluid text-right bottom-container">
        <ul class="icons">
        <li><a href="mailto:jacobacohen@outlook.com" target="_blank" class="fa-envelope" title="Email"></a></li>
        <li><a href="https://www.linkedin.com/in/jacobac" target="_blank" class="fa-linkedin" title="LinkedIn"></a></li>
        <li><a href="https://www.github.com/jacobacohen" target="_blank" class="fa-github" title="Github"></a></li>
</div>
